# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Output of tests
out/

# Maps in resource files
resources/tlamk2/maps/
resources/tlamk2/maps/*.fomap

# Idk, sometimes this clear with maven build from console, sometimes reappers with IntelliJ
target/classes/
